{:source-paths ["src/js" "src/cljs"]
 :dependencies []
 :dev-http     {9292 "target/"}
 :builds       {:frontend {:target     :browser
                           :asset-path "."
                           :output-dir "target/"
                           :modules    {:main {:init-fn test.main/main}}
                           :devtools   {:ignore-warnings true}}}}
