{:source-paths ["src/js" "src/cljs"]
 :builds       {:frontend {:target     :browser
                           :output-dir "js"
                           :modules    {:main {:entries [test.main]}}
                           :devtools   {:ignore-warnings true}}}}
